main, body{
  background-color: aquamarine;
  text-align: center;
  margin-top: 5vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
a,ul,ol,li{
  list-style-type:none;
  text-decoration:none;
}

.selectionButtons{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  text-align:center;
  
}
.open{
  display:flex;
}
.hidden{
  display:none;
}
.selectButtons{
  
  display: flex;
  flex-direction: column;
  background-color: #15d77d;
  width: 170px;
  height: 60px;
  text-align:center;
  border-radius: 30px;
  justify-content: center;
  align-content: center;
  align-self: center;
  /* w3schools  */
  /* padding: 5px 5px; */
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  color: #043b06;
  /* background-color: #04aa6d; */
  border: none;
  /* border-radius: 15px; */
  box-shadow: 3px 3px #999;
}
.selectButtons:hover{
  background-color:#3e8e41;
}

.selectButtons:active{
  background-color:#3e8e41;
  box-shadow:3px 3px #666;
  transform:translateY(4px);
}

.boxofboxes{
}

#sampleChart{
  width:400px;
  height:400px;
}
#transformChart{
}
#reverseTransformChart{
}


.entering, .options{
  padding:20px;
}
